.hotel-container {
	position: relative;
	text-align: center;
	height: 150px;
}

.qantas-logo {
	width: 180px;
	margin-bottom: 20px;
}

.promotion-text {
	position: absolute;
	top: 8px;
	left: 16px;
	background: white;
	color: red;
	padding: 5px
}

.hotel-title {
	font-weight: bolder;
	font-size: 1.25em;
	text-align: left;
}

.hotel-address {
	text-align: left;
	font-size: .8em;
	color: gray;
}

.hotel-room {
	text-align: left;
	font-size: .8em;
	color: red;
	text-decoration: underline;
	margin-top: 10px;
}

.cancellation {
	text-align: left;
	font-size: .8em;
	color: green;
	position: relative;
	bottom: -50px;
}

.daily-rate {
	text-align: right;
	font-size: .75em;
	color: black;
	position: relative;
}

.price:before {
	content: '$';
	font-size: 0.6em;
	vertical-align: text-top;
}

.price {
	text-align: right;
	font-size: 2em;
	color: black;
	position: relative;
}

.save {
	text-align: right;
	font-size: 1em;
	color: red;
	position: relative;
}
