.star-rating-container {
	position: absolute;
	margin-left: 20px;
}

.rating {
	margin: 0;
	padding: 0;
	display: inline-block;
}
.rating li {
	padding: 1px;
	color: #ddd;
	font-size: 20px;
	text-shadow: 0.05em 0.05em #aaa;
	list-style-type: none;
	display: inline-block;
	cursor: pointer;
}
.rating li.filled {
	color: #fd0;
}
.rating.readonly li.filled {
	color: #666;
}
.average-rating-container {
	position: relative;
	height: 31px;
	width: 103px;
	overflow: hidden;
}
.average-rating-container .background, .average-rating-container .foreground {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	white-space: nowrap;
}
