
<img class="qantas-logo" src="/modules/hotels/client/images/qantas-logo.png" />
<p> <strong>{{ vm.hotels.length }}</strong><i> hotels</i> in <strong>Sydney</strong></p>

<div class="row">
  <div class="col-md-10">
    <div class="pull-right bottom-padding">
      <select ng-model="vm.orderBy" >
        <option value="price">Price (low to high)</option>
        <option value="-price">Price (high to low)</option>
      </select>
    </div>
    <div ng-repeat="h in vm.hotels | orderBy : vm.orderBy">
      <hotel hotel="h"></hotel>
    </div>
  </div>
</div>
