<h1></h1>

<div class="row hotel-container">
  <div class="col-md-2"><img ng-src="{{vm.hotel.image}}" alt="" class="src"><div class="promotion-text">{{ vm.hotel.promotion}}</div> </div>
  <div class="col-md-8">
    <div class="hotel-title">{{ vm.hotel.title}}
      <span class="star-rating-container" ng-if="vm.isStarRating()"> <average-star-rating ng-model="vm.hotel.rating" max="5"><average-star-rating></span>
      <span class="star-rating-container" ng-if="!vm.isStarRating()"> <average-circle-rating ng-model="vm.hotel.rating" max="5"><average-circle-rating></span></div>
    <div class="hotel-address">{{ vm.hotel.address }}</div>
    <div class="hotel-room">{{ vm.getRoomName() }}</div>
    <div class="cancellation" ng-if="vm.hotel.freeCancellation">Free cancellation</div>
  </div>
  <div class="col-md-2">
    <div class="bottom-align">
      <div class="bottom-content">
      <p class="daily-rate">1 night total (AUD)</p>
      <p class="price">{{ vm.hotel.price}}</p>
      <p class="save" ng-if="vm.hasSavings()">Save ${{ vm.hotel.savings }} ~</p>
      </div>
    </div>

  </div>
</div>
