<section>
  <div class="page-header">
    test
    <img src="/modules/hotels/client/images/qantas-logo.png" />
  </div>
  <div class="list-group">
    <a ng-repeat="hotel in vm.hotels"
       ui-sref="hotels.view({ hotelId: hotel._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="hotel.created | date:'mediumDate'"></span>
        by
        <span ng-if="hotel.user" ng-bind="hotel.user.displayName"></span>
        <span ng-if="!hotel.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="hotel.name"></h4>
    </a>
  </div>
</section>
